/* Universal Selector*/
* {
  color: purple;
}

/* Element Selector*/
h1 {
  color: #ff0000;
}

p {
  color: rgb(130, 200, 15);
}


/* Id Selector*/
* {
  font-family: sans-serif;
}

button {
  background-color: green;
}

h1, h2, h3 {
  color: blue;
}
h1 {
  text-align: center;
  text-decoration: underline;
  font-style: ;
}

#one {
  font-size: 25px;
  line-height: 20px;
  text-transform: none;
}

#test {
  text-align: center;
  text-transform: capitalize;
  
}

#outer {
  font-size: 25px;
}
#inner {
  font-size: 10px;
}